# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*build-*

# QtCreator

*.autosave
*.pro.user

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
CMakeLists.txt.user

# Project
/Build/*

# Visual Studio Files
*.vcxproj.*
*.vcxproj
/Implementation/.vs/*
/Implementation/Debug/*
/Implementation/GeneratedFiles/*
/Implementation/Release/*
/Implementation/x64/*

# Config files
/Implementation/Connections/*
Implementation/QueryCreator\.rc

Implementation/QueryCreator\.aps

Implementation/resource\.h

microsoft/\.qmake\.stash

Documentation/Output/
